.login-container {
    height: 100vh;
}

.login-container #login-image {
    background-image: url('../../../assets/images/login-image.jpg');
    height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: start;
    justify-content: center;
}

.login-container #login-form {
    background-color: #fff;
    height: 100vh;
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container #login-form .btn,
.login-container #login-form .form-control {
    box-shadow: none;
    font-family: var(--default-font);
    padding: 10px 15px;
}

.login-container #login-form .btn-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-container #login-form .input-group {
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: 0.375rem;
}

.login-container #login-form .input-group .form-control {
    background-color: transparent;
    border: none;
}

.login-container #login-form .input-group .btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
}