<div class="login-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8" id="login-image">
                <img src="assets/images/logo-square.svg" alt="logo" class="img-fluid">
            </div>
            <div class="col-sm-4" id="login-form">
                <div class="text-center">
                    <img src="assets/images/logo.svg" alt="logo" class="img-fluid w-75 mb-5">

                    <div class="mb-3">
                        <input type="email" class="form-control w-100" placeholder="Email ID / Username">
                    </div>
                    <div class="mb-4">
                        <div class="input-group">
                            <input type="password" class="form-control" placeholder="Password">
                            <button class="btn">
                                <i class="ph-duotone ph-eye"></i>
                                <!-- <i class="ph-duotone ph-eye-slash"></i> -->
                            </button>
                        </div>
                    </div>
                </div>

                <button class="btn btn-main" type="submit">LOGIN</button>
            </div>
        </div>
    </div>
</div>